<!doctype html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.tag_manager }}"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    {% include navbar.html %}

    <main id="content" class="container" role="main">
      <div class="row-fluid">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
